header {
  margin: 2rem auto;
  font-size: 2rem;
  font-family: "Noto Serif KR";
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      span {
        font-weight: 400;
      }
      button {
        padding: 10px 20px;
        font-size: 1rem;
      }
    }
  }
}
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  h2 {
    font-size: 4rem;
  }
  form {
    display: flex;
    align-items: center;
    gap: 1rem;
    * {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      font-family: inherit;
    }
  }
}
#postlist {
  margin: 1rem;
  .list-head {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 2.5rem;
    }
    > a {
      border: 1px solid #222;
      border-radius: 5px;
      padding: 10px 30px;
      background-color: #258679;
      color: #fff;
      transition: all 0.3s;
      &:hover {
        background-color: #227c70;
        color: #fff;
      }
    }
  }
  ul {
    li {
      border-bottom: 1px solid #888;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 4%;
      text-align: center;
      }
    }
  }
  .page-btn {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button {
      padding: 5px;
      font-size: 1rem;
    }
  }
}

#post-write,
#post-edit {
  margin: 2rem 1rem;
  h2 {
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  form > * {
    display: block;
  }
  form {
    padding: 1rem;
    input,
    textarea {
      width: 100%;
      font-size: 1.5rem;
      font-family: inherit;
      padding: 1rem;
      background-color: bisque;
    }
    textarea {
      height: 100px;
    }
    button {
      font-family: inherit;
      padding: 10px 20px;
    }
  }
}
#post-edit {
  button {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
#post-detail {
  padding: 1.5rem;
  * {
    margin: 10px 0;
  }
  h2 {
    border: 1px solid #888;
    padding: 1rem 2rem;
    font-size: 2.3rem;
    background-color: #fcedbc;
  }
  p{
    font-family: "Noto Serif KR";
  }
  p:nth-of-type(1) {
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 2rem 1rem;
  }
  p:nth-of-type(2) {
    padding: 2rem;
    border: 1px solid #888;
    font-size: 1.5rem;
    background-color: #fff8e2;
  }
  ul {
    li {
      margin: 10px 0;
      font-size: 1.2rem;
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    textarea {
      flex: 1;
      height: 50px;
      background-color: bisque;
    }
    button {
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
  .detail-btn {
    display: flex;
    justify-content: right;
    gap: 1rem;
    button {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}
